aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.12.0
attrs==25.4.0
backoff==2.2.1
beautifulsoup4==4.14.3
...
unstructured-client==0.42.4
unstructured.pytesseract==0.3.15
unstructured_inference==1.1.2
uritemplate==4.2.0
urllib3==2.6.0
uuid_utils==0.12.0
webencodings==0.5.1
wrapt==2.0.1
xxhash==3.6.0
yanl==1,22.0
zstandard==0.25.0